#center {
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    padding: 50px;
    margin: auto;
}

h1 {
    margin-top: 150px;
    margin-bottom: -200px;
}

#Label1 {
    color: red;
}
